IO_LOC "led" L16;
IO_PORT "led" DRIVE=8;

IO_LOC "clk_27mhz" H11;
IO_PORT "clk_27mhz" PULL_MODE=UP;

IO_LOC "rst_n" C7;
IO_PORT "rst_n" PULL_MODE=UP;

IO_LOC "reconfig" B10;
IO_PORT "reconfig" PULL_MODE=UP;

IO_LOC "rgb_led" P9;
IO_PORT "rgb_led" PULL_MODE=NONE;

IO_LOC "esp_miso" C11;
IO_LOC "esp_clk" A11;
IO_LOC "esp_mosi" B11;
IO_LOC "esp_cs_n" A12;

IO_LOC "spiflash_miso" P10;
IO_LOC "spiflash_clk" L10;
IO_LOC "spiflash_mosi" R10;
IO_LOC "spiflash_cs_n" M9;